index.html
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>BBPPKS</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1072663519426536&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      
    </script>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-8"><img src="./img/logo.png" class="header-logo"><a href="#" class="header-brand">Balai Besar Pendidikan dan Pelatihan Kesejahteraan Sosial</a></div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand hide">BBPPKS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Beranda</a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Profile<span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#">Sejarah</a></li>
                <li><a href="#">Visi Misi</a></li>
                <li><a href="#">Fasilitas</a></li>
                <li><a href="#">Personil</a></li>
              </ul>
            </li>
            <li><a href="#">Berita</a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Diklat<span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#">Jenis Diklat</a></li>
                <li><a href="#">Peserta Diklat</a></li>
                <li><a href="#">Alumni Diklat</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Kegiatan<span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#">Jadwal Kegiatan Diklat</a></li>
                <li><a href="#">Jadwal Kegiatan Lain</a></li>
              </ul>
            </li>
            <li><a href="#">Evaluasi</a></li>
            <li><a href="#">Perpustakaan</a></li>
          </ul>
        </div>
        <!-- /.nav-collapse-->
      </div>
    </nav>
    <div class="container">
      <div class="newsticker"><span class="newsticker-date">
          <big>07</big><small>Jan</small></span>
        <ul class="newsticker-list">
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
          <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
          <li>Ut enim ad minim veniam, quis nostrud exercitation</li>
        </ul>
        <div class="newsticker-now"></div>
      </div>
      <div class="row">
        <div class="col-md-3 sideview">
          <div class="panel panel-primary panel-left hide">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-newspaper-o"></i>Berita Terbaru</h3>
            </div>
            <div class="list-group list-group-alt"><a href="#" class="list-group-item"><img src="holder.js/55x55/sky" class="list-group-item-thumb">
                <h4 class="list-group-item-heading">Cras justo odio</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p></a><a href="#" class="list-group-item"><img src="holder.js/55x55/sky" class="list-group-item-thumb">
                <h4 class="list-group-item-heading">Cras justo odio</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p></a><a href="#" class="list-group-item"><img src="holder.js/55x55/sky" class="list-group-item-thumb">
                <h4 class="list-group-item-heading">Cras justo odio</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p></a></div>
          </div>
          <div class="panel panel-primary hide">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-dashboard"></i>Lorem ipsum dolor</h3>
            </div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          </div>
          <div class="panel panel-primary panel-left">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-twitter-square"></i>Twitter</h3>
            </div>
            <div class="panel-body"></div>
          </div>
          <div class="panel panel-primary panel-left">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-facebook-square"></i>Facebook</h3>
            </div>
            <div class="panel-body">
              <div data-href="https://www.facebook.com/officialkaskus" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-width="200" data-show-border="false" class="fb-like-box"></div>
            </div>
          </div>
        </div>
        <div class="col-md-9 mainview">
          <div id="timeline" data-columns class="clearfix">
            <div class="panel panel-primary panel-news">
              <figure><img src="./img/a667a056e846b0f3cdaa7f3904b11a51.jpg">
                <figcaption>
                  <big class="label label-primary">Agenda</big><abbr title="2015-01-06 06:30" class="timeago">2015-01-06 06:30</abbr>
                </figcaption>
              </figure>
              <h1><a href="#">Bordsteinschwalbe Release Party</a></h1>
            </div>
            <div class="panel panel-primary panel-news">
              <figure><img src="./img/e7f8e070b6b0f2851e87e5138d6e0ef3.jpg">
                <figcaption>
                  <big class="label label-primary">Berita</big><abbr title="2015-01-06 03:30" class="timeago">2015-01-06 03:30</abbr>
                </figcaption>
              </figure>
              <h1><a href="#">Frisches vom Spielplatz I Bunter den Lachs Mixtape</a></h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
            <div class="panel panel-primary panel-news">
              <figure><img src="./img/altonale_16_20140706_panzau-3-400x268.jpg">
                <figcaption>
                  <big class="label label-primary">Berita</big><abbr title="2015-01-06 12:30" class="timeago">2015-01-06 12:30</abbr>
                </figcaption>
              </figure>
              <h1><a href="#">Bunter Spielplatz und die Geschichte vom Anfang ohne Ende</a></h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
            <div class="panel panel-primary panel-news">
              <figure><img src="./img/e7cb60a91e973ac631b9cf8ddb66815f.jpg">
                <figcaption>
                  <big class="label label-primary">Galeri</big><abbr title="2015-01-06 12:30" class="timeago">2015-01-06 12:30</abbr>
                </figcaption>
              </figure>
            </div>
            <div class="panel panel-primary panel-news">
              <figure><img src="./img/Bull-chase-big-picture-335x251.jpg">
                <figcaption>
                  <big class="label label-primary">Agenda</big><abbr title="2015-01-06 12:30" class="timeago">2015-01-06 12:30</abbr>
                </figcaption>
              </figure>
              <h1><a href="#">Bunter Spielplatz und die Geschichte vom Anfang ohne Ende</a></h1>
            </div>
            <div class="panel panel-primary panel-news">
              <figure><img src="./img/RHV0579-600x735.jpg">
                <figcaption>
                  <big class="label label-primary">Galeri</big><abbr title="2015-01-06 12:30" class="timeago">2015-01-06 12:30</abbr>
                </figcaption>
              </figure>
            </div>
            <div class="panel panel-primary panel-news">
              <figure><img src="./img/altonale_16_20140706_panzau-3-400x268.jpg">
                <figcaption>
                  <big class="label label-primary">Berita</big><abbr title="2015-01-06 12:30" class="timeago">2015-01-06 12:30</abbr>
                </figcaption>
              </figure>
              <h1><a href="#">Bunter Spielplatz und die Geschichte vom Anfang ohne Ende</a></h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="container">
        <p>Copyright 2015 © BBPPKS. All rights reserved.<br>Designed by Davigmacode.</p><img src="img/logo.png" class="pull-right">
      </div>
      <!-- END .container-->
    </footer>
    <!-- end #footer-->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/holder.min.js"></script>
    <script type="text/javascript" src="js/salvattore.min.js"></script>
    <script type="text/javascript" src="js/jquery.timeago.js"></script>
    <script type="text/javascript" src="js/jquery.timeago.id.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>

jade/index.jade
extends ./partials/layout.jade

block content
  #timeline.clearfix(data-columns)
    .panel.panel-primary.panel-news
      figure
        img(src="./img/a667a056e846b0f3cdaa7f3904b11a51.jpg")
        figcaption
          big.label.label-primary Agenda
          abbr.timeago(title="2015-01-06 06:30") 2015-01-06 06:30
      h1
        a(href='#') Bordsteinschwalbe Release Party
    .panel.panel-primary.panel-news
      figure
        img(src="./img/e7f8e070b6b0f2851e87e5138d6e0ef3.jpg")
        figcaption
          big.label.label-primary Berita
          abbr.timeago(title="2015-01-06 03:30") 2015-01-06 03:30
      h1
        a(href='#') Frisches vom Spielplatz I Bunter den Lachs Mixtape
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
    .panel.panel-primary.panel-news
      figure
        img(src="./img/altonale_16_20140706_panzau-3-400x268.jpg")
        figcaption
          big.label.label-primary Berita
          abbr.timeago(title="2015-01-06 12:30") 2015-01-06 12:30
      h1
        a(href='#') Bunter Spielplatz und die Geschichte vom Anfang ohne Ende
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
    .panel.panel-primary.panel-news
      figure
        img(src="./img/e7cb60a91e973ac631b9cf8ddb66815f.jpg")
        figcaption
          big.label.label-primary Galeri
          abbr.timeago(title="2015-01-06 12:30") 2015-01-06 12:30
    .panel.panel-primary.panel-news
      figure
        img(src="./img/Bull-chase-big-picture-335x251.jpg")
        figcaption
          big.label.label-primary Agenda
          abbr.timeago(title="2015-01-06 12:30") 2015-01-06 12:30
      h1
        a(href='#') Bunter Spielplatz und die Geschichte vom Anfang ohne Ende
    .panel.panel-primary.panel-news
      figure
        img(src="./img/RHV0579-600x735.jpg")
        figcaption
          big.label.label-primary Galeri
          abbr.timeago(title="2015-01-06 12:30") 2015-01-06 12:30
    .panel.panel-primary.panel-news
      figure
        img(src="./img/altonale_16_20140706_panzau-3-400x268.jpg")
        figcaption
          big.label.label-primary Berita
          abbr.timeago(title="2015-01-06 12:30") 2015-01-06 12:30
      h1
        a(href='#') Bunter Spielplatz und die Geschichte vom Anfang ohne Ende
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
